In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
sales_file = 'Resources/Video_Games_Sales_as_at_22_Dec_2016.csv'
sales_df = pd.read_csv(sales_file)
sales_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#Kept 6/16 Columns from original dataset
sales_condensed = sales_df[["Publisher","Name","Year_of_Release","Global_Sales","Critic_Score","User_Score"]]

#Filter for Nintendo Only
nintendo_df = sales_condensed.loc[sales_condensed["Publisher"]=="Nintendo"]

#Filter for Years 2010-2016
nintendo_df =  nintendo_df.loc[(nintendo_df["Year_of_Release"] > 2009) &
                                (nintendo_df["Year_of_Release"]<2017)]

#Drop rows where year is null
nintendo_df.dropna(subset='Year_of_Release')

#Changing Year to Int type
nintendo_df['Year_of_Release'] =nintendo_df['Year_of_Release'].astype('Int32')
nintendo_df.dtypes

Publisher           object
Name                object
Year_of_Release      Int32
Global_Sales       float64
Critic_Score       float64
User_Score         float64
dtype: object

In [25]:
#Group by Year 
nintendo_grouped = nintendo_df.groupby(["Year_of_Release"])
nintendo_grouped.head()

,Publisher,Name,Year_of_Release,Global_Sales,Critic_Score,User_Score
27,Nintendo,Pokemon Black/Pokemon White,2010,15.14,NaN,NaN
33,Nintendo,Pokemon X/Pokemon Y,2013,14.60,NaN,NaN
40,Nintendo,Mario Kart 7,2011,12.66,85.0,8.2
47,Nintendo,Pokemon Omega Ruby/Pokemon Alpha Sapphire,2014,11.68,NaN,NaN
53,Nintendo,Super Mario 3D Land,2011,10.81,90.0,8.4
62,Nintendo,New Super Mario Bros. 2,2012,9.90,78.0,7.2
73,Nintendo,Animal Crossing: New Leaf,2012,9.16,88.0,8.7
79,Nintendo,Wii Party,2010,8.38,68.0,7.4
83,Nintendo,Pokemon Black 2/Pokemon White 2,2012,8.07,NaN,NaN
96,Nintendo,Super Smash Bros. for Wii U and 3DS,2014,7.55,NaN,NaN
97,Nintendo,Super Mario Galaxy 2,2010,7.51,97.0,9.1
108,Nintendo,Pokemon Sun/Moon,2016,7.14,NaN,NaN
110,Nintendo,Mario Kart 8,2014,7.09,88.0,9.1
128,Nintendo,Donkey Kong Country Returns,2010,6.44,87.0,8.6
184,Nintendo,Tomodachi Life,2013,5.23,NaN,NaN
185,Nintendo,New Super Mario Bros. U,2012,5.22,84.0,8.1
216,Nintendo,Super Smash Bros. for Wii U and 3DS,2014,4.87,NaN,NaN
235,Nintendo,Luigi's Mansion: Dark Moon,2013,4.59,86.0,8.4
247,Nintendo,Splatoon,2015,4.43,81.0,8.5
248,Nintendo,Nintendo Land,2012,4.42,77.0,7.9
259,Nintendo,The Legend of Zelda: Ocarina of Time,2011,4.33,NaN,NaN
260,Nintendo,Super Mario 3D World,2013,4.32,93.0,9.0
306,Nintendo,The Legend of Zelda: Skyward Sword,2011,3.95,93.0,8.0
312,Nintendo,Monster Hunter 4 Ultimate,2014,3.89,86.0,8.7
318,Nintendo,Nintendogs + cats,2011,3.85,NaN,NaN
424,Nintendo,Super Mario Maker,2015,3.21,88.0,8.7
448,Nintendo,The Legend of Zelda: A Link Between Worlds,2013,3.10,91.0,8.9
457,Nintendo,Animal Crossing: Happy Home Designer,2015,3.05,66.0,6.9
565,Nintendo,Mario vs. Donkey Kong: Mini-Land Mayhem!,2010,2.67,79.0,7.7
677,Nintendo,The Legend of Zelda: Majora's Mask 3D,2015,2.34,89.0,9.0
1079,Nintendo,Fire Emblem Fates,2015,1.68,NaN,NaN
2012,Nintendo,The Legend of Zelda: Twilight Princess HD,2016,1.03,86.0,8.4
2219,Nintendo,Kirby: Planet Robobot,2016,0.93,81.0,8.7
3788,Nintendo,Mario & Sonic at the Rio 2016 Olympic Games,2016,0.53,NaN,NaN
4488,Nintendo,Hyrule Warriors,2016,0.43,NaN,NaN

In [26]:
#Take count of "Name" = Games released that year
total_games  = nintendo_grouped[["Name"]].count()

#Take Sum of Total Sales 
total_sales  = nintendo_grouped[["Global_Sales"]].sum()

#Take Average of Critic Score & User Score
avg_critic_score = nintendo_grouped[["Critic_Score"]].mean()
avg_user_score = nintendo_grouped[["User_Score"]].mean()

In [27]:
#Create transformed nintendo DF by year
nintendo_transformed_df = pd.concat([total_games,total_sales,avg_critic_score,avg_user_score],axis='columns')
#Rename Columns
nintendo_transformed_df = nintendo_transformed_df.rename(columns={ 
                                                            "Name": "Total Games Released",
                                                          "Global_Sales": "Sales (mil)",
                                                          "Critic_Score": "Average Critic Score (0-100)",
                                                          "User_Score": "Average User Score (0-10)"})


nintendo_transformed_df

,Total Games Released,Sales (mil),Average Critic Score (0-100),Average User Score (0-10)
Year_of_Release,,,,
2010,28,59.74,74.944444,7.556250
2011,26,51.69,72.437500,7.737500
2012,31,56.11,74.400000,7.460000
2013,23,53.48,78.166667,7.983333
2014,20,48.88,76.133333,7.820000
2015,32,27.61,70.736842,7.489474
2016,14,11.74,74.500000,7.312500

In [34]:
nintendo_transformed_df=nintendo_transformed_df.reset_index()

In [35]:

nintendo_transformed_df.dtypes

Year_of_Release                   Int32
Total Games Released              int64
Sales (mil)                     float64
Average Critic Score (0-100)    float64
Average User Score (0-10)       float64
dtype: object